build
*.pyc
*~
#*#
doc/_build/
dist/
*.egg-info
*.c
*.so

# Conda testing environment
miniconda.sh
miniconda/

# Test files
tests.log
test.png
test.pdf
test.svg
testdb.sqlite*
ete_test_tmp/
test_tmp/

# Coverage files
.coverage
htmlcov/

# Javascript
node_modules/
package-lock.json


# MacOs
.DS_Store
